# Waiters

> [Index](../README.md) > [{{ service_name.class_name }}](./README.md) > Waiters

{% include "common/header_note.md.jinja2" with context %}

{% for waiter in package.waiters -%}
## {{ waiter.name }}

Type annotations and code completion for `#!python session.create_client("{{ service_name.boto3_name }}").get_waiter("{{ waiter.waiter_name }}")`.
[:material-aws: boto3 documentation]({{ waiter.boto3_doc_link }})

```python title="Usage example"
from {{ package.library_name }}.session import Session

from {{ package.name }}.waiter import {{ waiter.name }}

def get_{{ waiter.waiter_name }}_waiter() -> {{ waiter.name }}:
    return Session().client("{{ service_name.boto3_name }}").get_waiter("{{ waiter.waiter_name }}")
```

{% for method in waiter.methods %}
### {{ method.name|escape_md }}

Type annotations and code completion for `#!python {{ waiter.name }}.{{ method.name }}` method.

{% include "common/method_code.md.jinja2" with context -%}

{% endfor -%}
{% endfor %}
