[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
codecov = "==2.0.15"
pylint = "==2.4.4"
pytest = "==5.3.2"
pytest-cov = "==2.8.1"
rope = "==0.14.0"
vulture = "==1.2"
handsdown = "==0.3.5"
twine = "==3.1.1"
mypy = ">=0.761"

[packages]
boto3 = "*"
jinja2 = "==2.10.3"
mypy_boto3_builder = {path = ".",editable = true}

[requires]
python_version = "3.8"
