if __name__ == "__main__":
    print(
        "Type annotations for boto3 {{ boto3_version }}\n"
        "Build version: {{ build_version }}\n"
        "Docs:          https://pypi.org/project/boto3-stubs/"
    )
