{% for argument in arguments -%}
{% with type_annotation=argument.type_annotation -%}
- `{{ argument.name }}`{% if argument.type_annotation %}: {% include "common/type_annotation.md.jinja2" with context -%}{% endif %}{{ ' *(required)*' if argument.required else '' -}}{{ '\n' -}}
{% endwith -%}
{% endfor -%}