## How to install

### Generate locally (recommended)

You can generate type annotations for `{{ package.library_name }}` package locally with `{{ builder_prog_name }}`.
Use [uv](https://docs.astral.sh/uv/getting-started/installation/) for build isolation.

1. Run {{ builder_package_name }} in your package root directory: `uvx --with '{{ package.library_name }}=={{ package.library_version }}' {{ builder_prog_name }}`
1. Select `{{ package.library_chat_choice }}` AWS SDK.
1. Select services you use in the current project.
1. Use provided commands to install generated packages.

{% if package.data.is_vscode_supported -%}
### VSCode extension

Add [AWS Boto3](https://marketplace.visualstudio.com/items?itemName=Boto3typed.boto3-ide)
extension to your VSCode and run `AWS boto3: Quick Start` command.

Click `Auto-discover services` and select services you use in the current project.
{%- endif %}

### From PyPI with pip

Install `{{ package.data.pypi_stubs_name }}` to add type checking for `{{ package.library_name }}` package.

```bash
# install type annotations only for {{ package.library_name }}
python -m pip install {{ package.data.pypi_stubs_name }}

{%- if package.essential_service_names %}{{ "\n\n" -}}
# install {{ package.library_name }} type annotations
# for {% for service_name in package.essential_service_names %}{{ service_name.name }}{{ ", " if not loop.last else "" -}}{% endfor %}
python -m pip install '{{ package.data.pypi_stubs_name }}[essential]'
{%- endif %}

# or install annotations for services you use
python -m pip install '{{ package.data.pypi_stubs_name }}[acm,apigateway]'

# or install annotations in sync with {{ package.library_name }} version
python -m pip install '{{ package.data.pypi_stubs_name }}[{{ package.library_name }}]'

{%- if package.data.pypi_full_name %}{{ "\n\n" -}}
# or install all-in-one annotations for all services
python -m pip install '{{ package.data.pypi_stubs_name }}[full]'
{%- endif %}

{%- if package.data.pypi_lite_name %}{{ "\n\n" -}}
# Lite version does not provide session.client/resource overloads
# it is more RAM-friendly, but requires explicit type annotations
python -m pip install '{{ package.data.pypi_lite_name }}[essential]'
{%- endif %}
```

{% if package.data.is_conda_forge_supported -%}
### From conda-forge

Add `conda-forge` to your channels with:

```bash
conda config --add channels conda-forge
conda config --set channel_priority strict
```

Once the `conda-forge` channel has been enabled, `{{ package.data.pypi_stubs_name }}`
and `{{ package.data.pypi_stubs_name }}-essential` can be installed with:

```bash
conda install {{ package.data.pypi_stubs_name }} {{ package.data.pypi_stubs_name }}-essential
```

List all available versions of `{{ package.pypi_name }}`
available on your platform with:

```bash
conda search {{ package.data.pypi_stubs_name }} --channel conda-forge
```
{%- endif %}

## How to uninstall

```bash
# uninstall {{ package.data.pypi_name }}
python -m pip uninstall -y {{ package.data.pypi_name }}
```
