import sys


def print_info() -> None:
    print(
        "Type annotations for boto3.{{ service_name.class_name }} {{ boto3_version }}\n"
        "Version:         {{ build_version }}\n"
        "Builder version: {{ builder_version }}\n"
        "Docs:            https://pypi.org/project/{{ service_name.pypi_name }}/\n"
        "Boto3 docs:      {{ service_name.boto3_doc_link }}\n"
        "Other services:  https://pypi.org/project/boto3-stubs/\n"
        "Changelog:       https://github.com/vemel/mypy_boto3_builder/releases"
    )


def print_version() -> None:
    print("{{ build_version }}")


def main() -> None:
    if "--version" in sys.argv:
        return print_version()
    print_info()


if __name__ == "__main__":
    main()
