# Setup script for {{ package.pypi_name }}.

# {{ copyright }}

[project]
name = "{{ package.pypi_name }}"
version = "{{ package.version }}"
license = "MIT"
authors = [{ name = "Vlad Emelianov", email = "vlad.emelianov.nz@gmail.com" }]
description = "Type annotations for {{ package.library_name }} {{ service_name.class_name }} {{ package.library_version }} service generated with {{ builder_package_name }} {{ builder_version }}"
readme = "README.md"
classifiers = [
{%- for classifier in package.get_classifiers() -%}
    {{ "\n    " -}}"{{ classifier -}}",
{%- endfor %}
]
keywords = [
    "{{ package.library_name }}",
    "{{ service_name.boto3_name }}",
    "{{ package.library_name }}-stubs",
    "type-annotations",
    "mypy",
    "typeshed",
    "autocomplete",
]
requires-python = ">={{ package.min_python_version }}"
{% if package.install_requires %}
dependencies = [
{%- for item in package.install_requires.iterate_items() -%}
    {{ "\n    " -}}"{{ item.render().replace('"', "'") }}",
{% endfor -%}
]
{% endif %}

[project.urls]
Homepage = "{{ builder_repo_url }}"
Documentation = "{{ package.get_local_doc_link() }}"
Source = "{{ builder_repo_url }}"
Tracker = "{{ builder_repo_url }}/issues"

[build-system]
requires = ["setuptools>=60"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
platforms = ["any"]
include-package-data = true
packages = ["{{ package.name }}"]

[tool.setuptools.package-data]
"*" = ["*.pyi", "py.typed"]
