"""
Setup script for {{ package.pypi_name }}.
"""
from pathlib import Path

from setuptools import setup  # type: ignore


LONG_DESCRIPTION = (Path(__file__).parent / "README.md").read_text()


setup(
    name="{{ package.pypi_name }}",
    version="{{ package.version }}",
    packages=["{{ package.name }}"],
    url="{{ builder_repo_url }}",
    license="MIT License",
    author="Vlad Emelianov",
    author_email="vlad.emelianov.nz@gmail.com",
    description="Type annotations for {{ package.library_name }}.{{ service_name.class_name }} {{ package.library_version }} service generated with mypy-boto3-builder {{ builder_version }}",
    classifiers=[
{% for classifier in package.get_classifiers() -%}
        {{ "\n        " -}}"{{ classifier -}}",
{%- endfor %}
    ],
    keywords='{{ package.library_name }} {{ service_name.boto3_name }} type-annotations botocore mypy typeshed autocomplete',
    long_description=LONG_DESCRIPTION,
    long_description_content_type="text/markdown",
    package_data={"{{ package.name }}": ["py.typed", "*.pyi"]},
    python_requires='>={{ package.min_python_version }}',
    project_urls={
        'Documentation': '{{ package.get_local_doc_link() }}',
        'Source': '{{ builder_repo_url }}',
        'Tracker': '{{ builder_repo_url }}/issues',
    },
    install_requires=[
        "typing-extensions>=4.1.0; python_version<\"3.12\"",
    ],
    zip_safe=False,
)
