name: types-aiobotocore integration

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

jobs:
  integration:
    name: AIO integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml
          cache: "poetry"
      - name: Install dependencies
        run: |
          poetry install -n
          poetry run pip install -U aioboto3 boto3-stubs types-aiobotocore types-aioboto3
          poetry install -n
      - name: Integration tests
        run: |
          poetry run python scripts/integration.py --product aioboto3 -d
      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: aio_mypy_boto3_output
          path: mypy_boto3_output

  sanity-check:
    name: Sanity check
    needs: integration
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: aio_mypy_boto3_output
          path: mypy_boto3_output
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version }}
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install -U requests cryptography types-requests
          python -m pip install -U mypy ruff pyright aioboto3 boto3-stubs types-aiobotocore types-aioboto3
      - name: Check output
        run: |
          python ./scripts/check_output.py -p ./mypy_boto3_output
