name: "E2E"

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

jobs:
  integration:
    name: "E2E"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        product:
          - "types-boto3"
          - "types-boto3-lite"
          - "types-boto3-full"
          - "types-boto3-custom"
          - "boto3-stubs"
          - "boto3-stubs-lite"
          - "boto3-stubs-full"
          - "boto3-stubs-custom"
          - "types-aioboto3"
          - "types-aioboto3-lite"
          - "types-aioboto3-full"
          - "types-aioboto3-custom"
          - "types-aiobotocore"
          - "types-aiobotocore-lite"
          - "types-aiobotocore-full"
          - "types-aiobotocore-custom"
        python_version:
          - "3.8" # oldest supported
          - "3.10" # most popular
          - "3.13" # latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Integration tests
        run: |
          uv run scripts/integration.py \
            --product ${{ matrix.product }} \
            --python ${{ matrix.python_version }} \
            --output-path=mypy_boto3_output \
            -d
      - name: Lint output
        run: |
          uv run scripts/check_output.py -p ./mypy_boto3_output