name: Code style and test

on:
  push: {}
  workflow_dispatch: {}

jobs:
  unit-tests:
    name: Code style & unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python for Poetry
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install poetry
        run: |
          python -m pip install poetry pip
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "poetry"
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install dependencies
        run: |
          poetry install -n
          poetry run pip install -U aiobotocore types-aiobotocore
          poetry install -n
      - name: Install Node.js dependencies
        run: |
          npm install -g pyright
      - name: Lint
        run: |
          poetry run flake8 mypy_boto3_builder
          poetry run npx pyright mypy_boto3_builder
          poetry run mypy mypy_boto3_builder
          poetry run black --check mypy_boto3_builder tests
          poetry run isort -c mypy_boto3_builder tests
      - name: Test
        run: |
          poetry run pytest
