name: Send coverage report

on:
  push:
    branches:
      - main
    paths:
      - mypy_boto3_builder/**
      - tests/**
  workflow_dispatch: {}

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
      - name: Install the project
        run: uv sync --dev
      - name: Build coverage report
        run: uv run pytest --cov mypy_boto3_builder --cov-report=xml --junitxml=junit.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
