name: Lint and test changes

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pylint mypy boto3 pytest pytest-cov codecov
      - name: Install
        run: |
          python setup.py install
      - name: Lint
        run: |
          pylint mypy_boto3_builder
          mypy mypy_boto3_builder
      - name: Test
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          pytest
          PYTHON_VER=`python -V | grep -Po '\d+\.+\d+'`
          if [[ "$PYTHON_VER" == "3.8" ]]; then
            pytest --cov-report term --cov mypy_boto3_builder
            codecov
          fi
      - name: Build packages
        env:
          BUILD_VERSION: ${{ steps.vars.outputs.build_version }}
          BOTO3_VERSION: ${{ steps.vars.outputs.boto3_version }}
          BOTOCORE_VERSION: ${{ steps.vars.outputs.botocore_version }}
        run: |
          python -m pip install boto3 botocore
          rm -rf mypy_boto3_output/*
          scripts/build.sh --panic -s dynamodb ec2 emr s3 secretsmanager
      - name: Integration tests
        run: |
          scripts/integration.sh
