name: "Release: publish"

on:
  release:
    types: [published]

jobs:
  deploy:
    name: "Release: publish"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.release.target_commitish }}
      - name: Get version
        id: version
        uses: actions/github-script@v8
        with:
          result-encoding: string
          script: |
            return context.ref.split('/').pop()
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Install the project
        run: uv sync --dev
      - name: Bump version
        env:
          VERSION: ${{ steps.version.outputs.result }}
        run: |
          echo "Bumping version to ${VERSION}"
          uvx newversion -i ${VERSION} --save
          uv pip install .
      - name: Set up git
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
      - name: Commit changes
        env:
          VERSION: ${{ steps.version.outputs.result }}
        run: |
          git add pyproject.toml
          git commit -m "Release ${VERSION}"
          git push
      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          rm -rf dist/* || true
          uv build --sdist --wheel --no-sources
          # uv publish
          uvx twine upload --non-interactive dist/*
      - name: Dockerize
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          uv run bash ./scripts/dockerize.sh
