name: Update types-aiobotocore
concurrency: update_types_aiobotocore

on:
  # schedule:
  #   - cron: "0 0/2 * * *"
  workflow_dispatch:
    inputs:
      aiobotocore_version:
        description: Target aiobotocore version
        required: false
      force:
        description: Publish new post-release if exists
        required: false
        default: "false"
      build_all:
        description: Build all packages instead of updated only
        required: false
        default: "false"
      stubs_version:
        description: Specify version explicitly instead of finding it automatically
        required: false
        default: ""

jobs:
  check-aiobotocore-version:
    name: Check aiobotocore version
    runs-on: ubuntu-latest
    outputs:
      aiobotocore-version: ${{ steps.vars.outputs.aiobotocore-version }}
      version: ${{ steps.vars.outputs.version }}
      build-all: ${{ steps.vars.outputs.build-all }}
    steps:
      - uses: actions/checkout@v2
      - name: Extract versions
        id: vars
        uses: actions/github-script@v4
        with:
          script: |
            const { extractAioBotocoreVersions } = require('./.github/workflows/helpers.js')
            await extractAioBotocoreVersions({ core, context })
  publish-aiobotocore-stubs:
    name: Publish aiobotocore-stubs
    runs-on: ubuntu-latest
    needs: check-aiobotocore-version
    if: needs.check-aiobotocore-version.outputs.version
    env:
      PIP_NO_CACHE_DIR: false
      PIP_USER: 1
      AIOBOTOCORE_VERSION: ${{ needs.check-aiobotocore-version.outputs.aiobotocore-version }}
      VERSION: ${{ needs.check-aiobotocore-version.outputs.version }}
      NO_SMART_VERSION: ${{ needs.check-aiobotocore-version.outputs.no_smart_version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Get aiobotocore download links
        id: links
        uses: actions/github-script@v4
        with:
          script: |
            const { extractAioBotocoreDownloadLinks } = require('./.github/workflows/helpers.js')
            await extractAioBotocoreDownloadLinks({ core })
      - name: Install builder
        run: |
          rm -rf mypy_boto3_builder
          python -m pip install mypy_boto3_builder
      - name: Install aiobotocore
        run: |
          mkdir installtemp
          cd installtemp
          wget ${{ steps.links.outputs.aiobotocore-url }}
          pip install aiobotocore*
          cd ..
          rm -rf installtemp
      - name: Build all packages
        run: |
          rm -rf mypy_boto3_output/*

          echo "Building all packages"
          python -m mypy_boto3_builder mypy_boto3_output -b ${VERSION} --product aiobotocore aiobotocore-services ${NO_SMART_VERSION} -s all
      - name: Install dependencies for publishing
        run: |
          python -m pip install setuptools wheel twine
      - name: Publish to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python ./scripts/release.py
